.header {
    font-size: 6rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 4rem 0;
    height: 10vh;
    @media (max-width:576px) {
        margin-bottom: 4rem;
    }
}

.logo {
    height: 10rem;
    border-radius: 50%;
    width: auto;
    padding: 0.5rem 2rem;
}